{include file="common/header" /}
<form name="myform" action="" method="post">
  <div class="pad-lr-10">
    <div class="table-list">
      <table width="100%" cellspacing="0">
        <thead>
          <tr>
            <th width="100">id</th>
            <th>名称</th>
            <th>说明</th>
            <th width="120">时间</th>
            <th width="150">管理</th>
          </tr>
        </thead>
        <tbody>
          {volist name="list" id="vo"}
            <tr>
              <td>{$vo.posid}</td>
              <td >{$vo.name}</td>
              <td >{$vo.title}</td>
              <td >{$vo.create_time|date="Y-m-d H:i:s",###}</td>
              <td align='center'><a href="{:url('infolists',array('id'=>$vo['posid'],'menuid'=>$menuid))}">信息管理</a> | <a href="{:url('edit',array('id'=>$vo['posid'],'menuid'=>$menuid))}">修改</a> | <a href="{:url('delete',array('id'=>$vo['posid'],'menuid'=>$menuid))}">删除</a></td>
            </tr>
          {/volist}
        </tbody>
      </table>
      <div class="btn">
        <input type="submit" class="button" name="dosubmit" value="排序" />
      </div>
      <div id="pages"> {$list->render()} </div>
    </div>
  </div>
  </div>
</form>
</body></html>