{include file="common/header" /}
<form name="myform" id="myform" action="?m=admin&c=menu&a=edit" method="post">
  <table width="100%" class="table_form contentWrap">
    <tr>
      <th>菜单名字：</th>
      <td><input type="text" name="name" id="name" class="input-text" style="width:500px;" value=""></td>
    </tr>
    <tr>
      <th>菜单描述：</th>
      <td>
      <textarea name="description" cols="100" rows="8" id="description"></textarea></td>
    </tr>
  </table>
  <!--table_form_off-->
  <div class="bk15"></div>
  <div class="btn">
    <input type="submit" id="dosubmit" class="button" name="dosubmit" value="提交"/>
  </div>
</form>
</body></html>