<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>后台管理</title>
		 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="__JS__/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="//at.alicdn.com/t/font_tnyc012u2rlwstt9.css" media="all" />
		<link rel="stylesheet" href="__MCSS__/main.css" media="all" />
		<script type="text/javascript" src="__JS__/layui/layui.js"></script>
	</head>
	<body>