{include file="common/header" /}
<div style="margin: 15px;">

  <fieldset class="layui-elem-field">
    <legend> 菜单管理 - {present name="id"}修改{else/}新增{/present}用户组</legend>
    <div class="layui-field-box">
      <form class="layui-form" action="">
        <div class="layui-form-item">
          <label class="layui-form-label">名称</label>
          <div class="layui-input-block">
            <input type="text" name="title" placeholder="请输入名称" lay-verify="name" class="layui-input" value="{present name="title"}{$title}{/present}">
          </div>
        </div>
        <div class="layui-form-item">
          <div class="layui-input-block">
            {present name="id"}<input type="hidden" name="id" id="id" value="{$id}" />{/present}
            <button class="layui-btn" lay-submit lay-filter="admin_form">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
          </div>
        </div>
      </form>
    </div>
  </fieldset>
</div>
<script type="text/javascript" src="__JS__/layui/layui.js"></script>
<script>


  layui.use(['form', 'layedit', 'laydate','layer','jquery'], function() {
    var form = layui.form,
            layer = layui.layer,
            $ = layui.$;
    //渲染表彰
    form.render();

    //自定义验证规则
    form.verify({
      name: function(value) {
        if(value.length < 2) {
          return '名称不能最少为2个字符';
        }
      },
    });


    //监听提交
    form.on('submit(admin_form)', function(res) {
      $.ajax({
        type: "POST",
        url: "{:url('groupPublish')}",
        data: res.field,
        success: function(msg){
          if( msg.code == 1 ){
            parent.location.reload();
          }else{
            parent.layer.msg(msg.msg);
          }
        }
      });
      return false;
    });

  });
</script>

</body>

</html>