{include file="common/header" /}
<div class="pad_10">
  <div class="common-form">
    <form name="myform" action="" method="post" id="myform">
      <table width="100%" class="table_form contentWrap">
        <tr>
          <td width="80">用户名</td>
          <td>{$username} </td>
        </tr>
        <tr>
          <td width="80">真实姓名</td>
          <td>{$realname} </td>
        </tr>
        <tr>
          <td>E-mail</td>
          <td> {$email}</td>
        </tr>
        <tr>
          <td>旧密码</td>
          <td><input type="password" name="old_password" id="old_password" class="input-text">
            </input></td>
        </tr>
        <tr>
          <td>新密码</td>
          <td><input type="password" name="new_password" id="new_password" class="input-text">
            </input></td>
        </tr>
        <tr>
          <td>重复新密码</td>
          <td><input type="password" name="new_pwdconfirm" id="new_pwdconfirm" class="input-text">
            </input></td>
        </tr>
      </table>
      <div class="bk15"></div>
      <input name="userid" type="hidden" id="userid" value="{$userid}">
      <input name="dosubmit" type="submit" value="提交" class="button" id="dosubmit">
    </form>
  </div>
</div>
</body></html>